.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
}

.con_list {
  display: flex;
  justify-content: flex-start;
}

.con_todo {
  width: 100px;
  height: 100px;
  border: 2px solid green;
  border-radius: 10px;
  margin-right: 10px;
}
